Flask==3.1.0
Flask-Cors==5.0.0
python-dotenv==1.0.1
google-generativeai==0.8.4
argostranslate==1.10.0
requests==2.32.3
rembg==2.0.64
opencv-python-headless==4.11.0.86
numpy==2.1.3
youtube-transcript-api==1.2.3
aiohttp==3.11.16
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.6.0
filelock==3.18.0
flatbuffers==25.2.10
huggingface-hub==0.30.2
humanfriendly==10.0
Jinja2==3.1.5
jsonschema==4.23.0
llvmlite==0.44.0
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numba==0.61.0
onnxruntime==1.21.0
packaging==24.2
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.4
pydantic==2.11.1
PyYAML==6.0.2
regex==2024.11.6
scikit-image==0.25.2
scipy==1.15.2
sympy==1.13.1
tokenizers==0.21.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
moviepy==1.0.3
